{#GITHUB_CLIENT_ID_RU={{ devops-workshop_vault_github_client_id_ru }}#}
{#GITHUB_CLIENT_SECRET_RU={{ devops-workshop_vault_github_client_secret_ru }}#}
{#ROLLBAR_ACCESS_TOKEN={{ devops-workshop.vault_rollbar_access_token }}#}


PORT={{ devops_workshop_port }}

{#DB_NAME={{ devops-workshop_vault_db_name }}#}
{#DB_USERNAME={{ devops-workshop_vault_db_username }}#}
{#DB_PASSWORD={{ devops-workshop_vault_db_password }}#}
{#DB_HOSTNAME={{ devops-workshop_vault_db_hostname }}#}
{#DB_POOL_SIZE={{ devops-workshop_vault_db_pool_size }}#}
{#SECRET_KEY_BASE={{ devops-workshop_vault_secret_key_base }}#}


{#PYTHON_ENV={{ devops-workshop_python_env }}#}
{#DJANGO_LOG_TO_STDOUT={{ djnago_log_to_stdout }}#}
